/* CSS RESET */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
  }

/*Css reset*/

html{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

body{
  width: 100%;
}
main{
  overflow: hidden;
  border-style: solid;
  width: 75%;
  margin: 3vw auto
}
h1{
  text-align: center;
  font-weight: bold;
  font-size: 5vh;
}

h2{
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  font-size: 3vh;
}
header{
  margin-bottom: 2em;
}

nav{
  display: flex;
  justify-content:  center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: gainsboro;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}




.odin-button{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  white-space: nowrap;
  text-decoration: none;
  outline: 0;
  position: relative;
  display: inline-block;
  height: 14px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid;
  border-radius: .25em;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  border-color: rgba(27,31,35,.2);
  margin-bottom: 5px;
}

nav > * {
  margin: 5px;
}

